@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.default{
  background: url(./Images/backgroundimg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bottom:hover{
  border-bottom: 2px solid black;
}

.default1{
  background: url(./Images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.default2{
  background: url(./Images/blackRectangle.png);
  width: 680px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero{
  border-radius: 50px
}

body{
  background-color: #f4f4f4;
}
